# If you're not using environment variables (e.g. during development)
# then copy this file to .env in the project root and edit it with your values

# The port on which the relay service will listen (no default)
RELAY_PORT=8080

# The file path to the directory containing relay plugins (defaults to ./plugins)
RELAY_PLUGINS_PATH=./plugins

# The URL for the traffic relay plugin to target (no default)
TRAFFIC_RELAY_TARGET=http://127.0.0.1:12346

# Space separated cookie names that will be relayed (defaults to none)
TRAFFIC_RELAY_COOKIES=test_cookie another_test_cookie
