# If you're not using environment variables (e.g. during development)
# then copy this file to .env in the project root and edit it with your values

# The port on which the relay service will listen (no default)
RELAY_PORT=8086

# The default URL for the traffic relay plugin to target (no default)
TRAFFIC_RELAY_TARGET=http://127.0.0.1:12346

# Special paths that should be relayed to full URLs (defaults to none)
# Specials can use different hosts than the TRAFFIC_RELAY_TARGET
# TRAFFIC_RELAY_SPECIALS=^/example/(.*\.js) https://example.com/static-js/${1}

# Space separated cookie names that will be relayed (defaults to none)
# TRAFFIC_RELAY_COOKIES=test_cookie another_test_cookie

# The maximum size (in bytes) of acceptable response bodies. (defaults to 2 MB)
# Responses with larger bodies will return a 503 (service unavailable) status code
# TRAFFIC_RELAY_MAX_BODY_SIZE=100000

# By default the relay plugin will send the Origin header as-is, which is usually what you want
# If you have a special circumstance then you can set this variable to override the incoming Origin header
# TRAFFIC_RELAY_ORIGIN_OVERRIDE=example.com

# The paths plugin gives you ability to rewrite request URL paths as they come into the system.
# This is a go regular expression:
# TRAFFIC_PATHS_MATCH=^/(test)/
# And this is a go repl string:
# TRAFFIC_PATHS_REPLACEMENT=/wow-${1}/
# See https://golang.org/pkg/regexp/#Regexp.Expand for more info
