name: Build and release
on:
 push:
   tags:
     - 'v*.*.*'
jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up go
        uses: actions/setup-go@v3
      - name: Build and release
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build-github-docker-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Publish to registry
        uses: elgohr/Publish-Docker-Github-Action@v4
        with:
          name: ${{ github.event.repository.full_name }}/${{ github.event.repository.name }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          tags: ${{ github.ref_name }}
